*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color:rgb(1, 1, 68);
    background-color:rgba(245, 230, 216, 0.918);
    position: sticky;
    top:0;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav-1{
font-size: 30px;
}
.nav-1 span{
    color: rgb(230, 84, 31);
}
.navbar .nav-2 ul{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap:25px;
}
.nav-2 ul li{
    list-style-type: none;
    position: relative;
}
.nav-2 ul li a{
    text-decoration: none;
    color:rgb(1, 1, 68);
    font-size: 21px;
    font-weight: bold;

}
.nav-2  a::before{
content: "";
position: absolute;
left:0;
bottom: -7px;
width:0;
height:2px;
background-color: rgb(230, 84, 31);
}
.nav-2  a:hover::before{
width:40%;
content: "";
position: absolute;
left:15px;
bottom: -7px;
height:3px;
background-color: rgb(230, 84, 31);

}
.nav-2 a:hover{
    color: rgb(230, 84, 31);
}
.nav-3 i{
    margin-left: 20px;
    font-size: 20px;
}
.banner{
    background-image: url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  padding: 50px;
     
}
.b-1{
    width:40%;
    padding-top: 70px;
   margin-left: 700px;
   
}
.line{
   margin-top: 20px;
   margin-bottom: 20px;
    width: 30px;
    border: 3px solid rgb(230, 84, 31);
    border-radius: 30px;
}
.b-1 h1{
    font-size: 40px;
    color:rgb(1, 1, 68)
}
.b-1 p{
    font-size: 22px;
    line-height:30px;
    color: rgb(1, 1, 68);
}
.b-1 span{
    color: rgb(230, 84, 31);
    font-weight: bold;
}
.btn1{
    background-color:  rgb(253, 69, 2);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 16px;
    margin-top: 20px;
}
.btn1:hover{
    background-color:rgb(230,84,31);
    cursor: pointer;
}
.explore{
    text-align: center;
    margin-top: 100px;
}
.explore hr{
    margin-left: 49%;
}
.explore h1{
    font-size: 40px;
    color:rgb(1, 1, 68)
}
.explore p{
    font-size: 22px;
   color:rgb(1, 1, 68);
   margin: 10px 250px;
}
.ex-des{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 150px 10px 150px;
}
.ex-1{
    position: relative;
    width:300px;
    background-color: white;
    box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-top: 30px;
}
.ex-1 img{
    width: 100%;
    height:230px;
    border-radius: 10px 10px 0px 0px;
}
.ex-1 h2{
    color:rgb(1, 1, 68);
    text-align: left;
    padding: 30px 20px ;
}
.ex-1 i{
    position: absolute;
    top:255px;
    right:0;
    color: rgb(230, 84, 31);
    background-color: rgb(236, 229, 226);
    font-size: 20px;
    font-weight: bold;
    padding:  12px 10px;
    margin-right: 10px;
    border-radius: 6px;
    
}
.ex-1:hover i{
    background-color: rgb(230, 84, 31);
    color: white;
}
.ex-1:hover h2{
    color: rgb(230, 84, 31);
}
.guide{
    position: relative;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right,rgba(255, 212, 169, 0.918),rgba(252, 235, 218, 0.918),rgba(252, 245, 238, 0.918));
}
.guide-1{
   
    margin-top: 70px;
    margin-right: 50px;
}
.guide-1 h1{
    color:rgb(1, 1, 68);
    font-size: 40px;
}
.guide-1 p{
    font-size: 25px;
    line-height: 40px;
    color:rgb(5, 0, 70);
    margin-right: 50px;
}
.guide-1 span{
    color: rgb(253, 69, 2);
}
.guide-1 .form{
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr  ; 
    gap:10px;
    margin-top: 30px;
}
.form input{
    padding:  15px 10px ;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.Submit{
    width:150px;
    color: rgb(1, 1, 68);
    background-color: rgb(172, 171, 171);
    border:none;
    font-size: 18px;
    border-radius: 10px;
}
.guide-2{
    margin-right: 20px;
}
#check {
    margin-top: 20px;
    font-size: 20px;
}
.journal{
    text-align: center;
  
    background-color: rgb(253, 251, 248);
    padding: 60px 50px 40px 100px;
   
}
.journal hr{
    margin-left: 49%;
}
.journal .j-title{
    font-size: 40px;
    color:rgb(1, 1, 68)
}
.articles{
     display: flex;
    margin: 40px;
}

.journal-1{
    margin-left: 60px;
    margin-right: 20px;
}
.one{
    width:350px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 10px;
   
   
}
.one img{
    width: 300px;
    height: 300px;
    border-radius: 10px;

    
}
.one h1{
    position:absolute;
    top:200px;
    color:white;
    padding: 20px;
    font-weight: bold;
}
.journal-2{
    margin-top: 28px;
    
}
.journal-2 div{
    width:80%;
    background-color: white;
}
.journal-2 img{
    width:100%
}
.journal-cont{
    padding: 35px 30px;
    text-align: start;
    border-radius: 10px;
}
.journal-cont h2{
    color: rgb(1, 1, 59);
    font-size: 30px;
}
.date-icon{
    display: flex;
    margin-top: 10px;
    text-align: center;

   
}
.travel{
    background-color: rgb(255, 187, 131);
    padding: 7px 10px;
    border:none;
    border-radius: 7px;
    margin-right:15px ;
}
.date-icon p{
    margin-top: 5px;
}
.j-2-main{
    border-radius:10px ;
}
.j-2-main img{
    border-radius: 10px 10px 0 0px;
}
.recommend{
    margin-top: 10px;
    font-size: 20px;
    color:rgb(71, 71, 71)
}

.show:hover{
    background-color: rgb(221, 63, 0);
}
.travel-videos{
    background-image: url("./images/video-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px ;
   

}
.travel-cont{
     display: flex;
     gap:40px;
}
.travel-1{
    margin-top: 30px;
}
.travel-1 video{
    margin-top: 40px;
    width:500px;

}
.travel-2{
margin-top: 35px;
}

.travel-2 h1{
    font-size: 50px;
   color: white;
}
.travel-2 p{
    font-size: 23px;
    color: rgb(192, 192, 192);
    line-height: 1.5;
}
.Youtube{
    display: flex;
    align-items: center;
margin-top: 20px;
gap: 10px;
}
.Youtube h2{
    font-size: 28px;
    color: white;
    margin-top: 10px;

}
.Youtube .btn2{
    border: none;
    border-radius: 7px;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bold;

}
.subscribe{
padding: 70px 0px;
text-align: center;
background-color: rgb(255, 243, 243);
}
.subscribe hr{
    margin-left: 49%;
}
.subscribe h1{
    font-size: 40px;
    color:rgb(1, 1, 68)
}
.subscribe p{
    font-size: 25px;
    color: rgb(0, 0, 54);
    padding: 10px 250px;
   
}
.subscribe span{
    color:rgb(221, 63, 0);
    line-height: 1.5;
}
.email-sub{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-sub input{
 padding: 18px;
 border: none;
 color: rgb(1, 1, 68);
 font-size: 15px;
 border-radius: 7px 0px  0px  7px;
 margin-top: 17px;
}
.email-sub button{
    border-radius: 0 7px  7px  0;
    padding: 18px 25px;
}
.subscribe #check{
    margin-top: 0;
   
}
.footer{
    background-color: rgb(255, 243, 243);
     position: relative;
}
.social-media{
   display: flex;
 margin: 20px 300px;
 gap:20px;
   align-items: center;
   padding: 30px 0;
   
  
}
.social-media a{
    text-decoration: none;
    color: rgb(1, 1, 68);
    font-size: 20px;
}
.social-media a:hover{
    color: rgb(230, 84, 31);
}
.social-media i{
    color: rgb(1, 1, 68);
}
.social-media a:hover i{
    color: rgb(230, 84, 31);
}
.social-media span{
    margin-left: 30px;
    margin-right: 20px;
    color: rgb(0, 0, 56);
   font-weight: normal;
}
.social-media i{
    margin-right: 10px;
}
.copyright{
    background-color: rgba(255, 212, 169, 0.918);
    padding: 25px;
    text-align: center;
    color: rgb(0, 0, 54);
    font-size: 18px;
   
}
.footer .up{
    background-color: rgb(230,84,31);
    position: absolute;
    right:20px;
    top:110px;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 20px;

}

/* About page */
.about-banner{
    text-align: center;
    background-image: url("./images/about-banner.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:120px  ;
}
.about-banner h1{
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    
}
.about-banner a{
    text-decoration: none;
    color: rgb(194, 194, 194);
}
.about-banner p{
    font-size: 20px;
    color: rgb(194, 193, 193);
}
.daily-travel{
 padding: 70px;
    background-image: linear-gradient(to bottom right,rgba(255, 196, 137, 0.918),rgba(250, 221, 193, 0.918),rgba(252, 225, 198, 0.918));
}
.daily{
    padding: 70px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
   
}

.daily-1 h1{
    font-size: 45px;
    color: rgb(1, 1, 68)    ;
}
.daily-2 p{
    font-size: 23px;
    line-height: 1.5;
    color: rgb(0, 0, 54);

}
.daily-2 p span{
    color: rgb(221, 63, 0);
}
.daily-video{
    background-color: white;
    width:500px;

}
.daily-video video{
    width: 90%;
    margin: 20px;
    
}
.dailyv{
    display: flex;
    justify-content: space-around;
}
.achievements{
    text-align: center;
    padding: 70px 10px;
      background-color: rgb(255, 243, 243);
}
.achievements hr{
    margin-left: 49%;
}
.achievements h1{
    font-size: 40px;
    color:rgb(1, 1, 68)
}
.records{
    display: flex;
    justify-content: space-between;
    margin:20px 50px;
  
}
.records-detail{
    background-color: white;
    text-align: center;
    width:250px;
    padding: 80px 10px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.records-detail h1{
    color: rgb(1, 1, 68);
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: bold;
}
.records-detail p{
    font-size: 25px;
    color: rgb(221, 63, 0);
}
.humble{
    background-image: url("./images/hmble-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   padding: 80px;
   padding-bottom: 40px;
}
.humble-cont{
     display: flex;
     justify-content: space-around;
     gap:40px;
}
.humble-1{
    margin: 50px 20px ;
    
}
.humble-1 img{
   border-radius: 10px;
    width:450px;

}
.humble-2{
margin: 35px 20px;
}

.humble-2 h1{
    font-size: 50px;
   color: white;
}
.humble-2 p{
    font-size: 23px;
    color: rgb(192, 192, 192);
    line-height: 1.5;
}
.Youtube{
    display: flex;
    align-items: center;
margin-top: 20px;
gap: 10px;
}
.Youtube h2{
    font-size: 28px;
    color: white;

}
.Youtube .btn2{
    border: none;
    border-radius: 7px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;

}
.teams{
     background-color: rgba(255, 245, 235, 0.918);
     text-align: center;
     padding: 60px 20px;
}
.teams hr{
    margin-left: 49%;
}
.teams .meet{
    font-size: 40px;
    color:rgb(1, 1, 68)
}
.team{
   
    display: flex;
    padding: 70px;
    gap:40px;
}
.team-member{
    width: 350px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 30px;
    border-radius: 7px;
}
.team-member img{
    width: 100%;
    border-radius: 7px  7px 0 0;
}
.team-member .social{
    display: flex;
    gap:20px;
    margin-left: 65px;
}
.social{
    margin-top: 10px;
}
.social .fb {
    background-color: rgb(14, 114, 207);
    padding:  7px 10px ;
    border-radius: 7px;

}
.social .x{
    background-color: black;
     padding:  7px 10px ;
    border-radius: 7px;
}
.social .insta{
    background-color: rgb(230,84,31);
     padding:  7px 10px ;
    border-radius: 7px;
}
.social p i{
    font-weight: normal;
    font-size: 15px;
}
.team-member h1{
    margin-top: 30px;
    color: rgb(1, 1, 68);
}
.team-member .job{
    margin: 10px;
    font-size: 18px;
    color: gray;
}
.about-footer{
    background-color: rgb(58, 58, 58);
    margin-top: 0;
    padding: 10px;
}
.about-media{
   display: flex;
   margin: 0 320px;
 gap:20px;
   align-items: center;
   padding: 40px 0;
   
  
}
.about-media a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.about-media a:hover{
    color: rgb(230, 84, 31);
}
.about-media i{
    color: white;
}
.about-media a:hover i{
    color: rgb(230, 84, 31);
}
.about-media span{
    margin-left: 30px;
    margin-right: 20px;
    color: gray;
   font-weight: normal;
}
.about-media i{
    margin-right: 10px;
}
.about-copy{
    background-color: rgb(58, 58, 58);
    color:gray;
    font-size: 20px;
}
.about-copy span{
    color: white;
}
.about-footer hr{
    border: 1px solid rgb(66, 66, 66);
}

/* contacts */
.address{
      background-color: rgb(255, 243, 243);
      display: flex;
      padding: 70px 50px;
      justify-content: space-around;

}
.address-box{
    background-color: white;
    width:250px;
    padding: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.address-box i{
    font-size: 40px;
    padding: 20px 0;
}
.address-box h2{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;

}
.address-box p{
    padding: 0px 24px;
}

.map iframe{
    width:100%;
}
.touch{
    position: relative;
     margin: 0;
    padding: 50px 150px;
    background-image: linear-gradient(to bottom right,rgba(255, 212, 169, 0.918),rgba(252, 235, 218, 0.918),rgba(252, 245, 238, 0.918));
}
.touch hr{
    margin-left: 49%;
}
.touch h1{
    font-size: 40px;
    color:rgb(1, 1, 68);
    text-align: center;
   
}
.touch-detail{
    margin-left: 330px;
    margin-top: 30px;
}
.touch-detail input,textarea{
    padding: 20px;
    width:250px;
    color: gray;
    font-size: 15px;
    border:none;
    border-radius: 8px;
    margin-right: 20px;
}
.touch-detail textarea{
    
    width:570px;
    height: 150px;
   margin-top: 20px;
}
.touch-detail input:focus,textarea:focus{
    outline: none;
}
.touch span{
    color: rgb(253, 69, 2);
}
.touch p{
text-align: center;
}

.send-msg{
    width:200px;
    padding: 20px;
    margin-left: 550px;
    margin-top: 20px;
    color: rgb(1, 1, 68);
    background-color: rgb(172, 171, 171);
    border:none;
    font-size: 18px;
    border-radius: 10px;
}

/* Trip page */
.journal{
    background-color: rgb(245, 245, 245);
}
.journal-item{
    display: flex;
    justify-content: space-between;
    text-align: start;
    flex-wrap: wrap;

}
.item-one{
    width:330px;
    background-color: white;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     border-radius: 5px;
    margin-bottom: 40px;
}
.item-one h2{
    padding: 10px 20px;
    color: rgb(230, 84, 31);
}
.item-one img{
    width: 100%;
    border-radius: 5px 5px 0 0px;
}
.e-journal{
    margin-left: 20px;
    margin-bottom: 20px;
}
.load-more{
    display: none;
}
.trip-explore{
    margin-bottom: 30px;
}
.trip-guide{
    margin: 0;
}
.trip-sub{
    background-color: rgb(39, 39, 39);
    margin-bottom: 0;
    
}
.trip-sub h1{
    color: white;
}
.trip-sub p{
    color: rgb(121, 121, 121);
}
.trip-footer{
    background-color: rgb(39, 39, 39);
    margin-top: 0;
}
.trip-social a{
    color:white
}
.trip-social i{
    color:white
}
.trip-footer .copyright{
    background-color: black;
    color: white;
}
/* js */

#error{
    color: red;
    font-size: 18px;
    display: none;
}
.display-msg{
    width:350px;
    padding: 30px;
    border:1px solid rgb(126, 247, 126);
    background-color: white;
    font-size: 18px;
    position: absolute;
    top:280px;
    left:500px;
    display: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}

.index-msg{
    left:100px;
    top:450px;
    width:200px
}
